<%# 
***************************
 *  Implement a value for the <title> element that describes the content of the view
 * ************************** %>
 <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    
    <%# messages() %>
    
    <%# Display the login %>
    <%- login %>