/******* Change Box Model ***************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: none;
}
 
body {
  margin: 0;
  background-image: url('../images/site/small_check.jpg');
}

#wrapper {
  background-color: #ffffff;
  padding: 10px;
  font-weight: bold;
  max-height: 100%;

}

#top-header {
  display: flex;
  justify-content: space-between;
  
}

.siteName {
  font-size: 2rem;
}

.siteName a {
  color: #000000;
  font-family: Roboto, sans-serif;
}

#tools a {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 22px;
}

nav {
  background-color: #000000;
}

nav ul{
  list-style-type: none;
  font-family: Roboto, sans-serif;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

nav ul a {
  color: #ffffff;
}

h1, h2, h3, h4, h5{
  font-size: 25px;
  font-family: Roboto, sans-serif;
}

h1, h2 {
  text-align: center;
}

.vehicle_img {
  max-width: 100%;
}

.description {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(55, 55, 177);
  z-index: 2;
  position: absolute;
  top: 0;
  max-width: 20ch;
}

.description h3 {
  margin: 5px 0;
  font-size: 18px;
}

.description h2 {
  font-size: 23px;
  margin-bottom: 5px;
}

.content {
  position: relative;
}

.today {
  width: 130px;
}

.reviews li {
  margin: 10px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.upgrades {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}

.upgrade {
  background-color: rgb(75, 75, 185);
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  max-height: 10ch;
}

.upgrades a {
  text-decoration: underline;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  color: blue;
  font-family: Roboto, sans-serif;  
}

.copyright {
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
}

.copyright span a {
  font-family: "Open Sans", sans-serif;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px 35px;
  justify-items: center;
  list-style: none;
  padding-left: 0;
}
#inv-display li {
  display: grid;
  grid-template-rows: 250px auto;
  grid-gap: 35px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  min-width: 350px;
  min-height: 400px;
}

#inv-display li a img {
  border-radius: 25px;
  width: 100%;
}

hr {
  border: 3px solid black;
}

.namePrice {
  padding-bottom: 15px;
  text-align: center;
}

.namePrice h2 a {
  text-decoration: underline;
}

#display_detail {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

#display_detail img {
  max-width: 100%;
}

.detail {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}
.detail h3 {
  font-weight: normal;
}

.detail .span, .detail .color {
  background-color: rgb(228, 225, 225);
  padding: 15px;
}

.detail .span, .descript, .colors, .miles {
  font-weight: bold;
}

.detail .desc {
  padding: 15px;
}

.elementor-video {
  max-width: 100%;
  min-height: 80ch;
}

#trigger_error {
  background-image: url(../images/Capture.PNG);
  max-width: 100%;
  min-height: 66ch;
  padding-left: 25px;
  font-size: 2rem;
}


#account_container,
#registration_container,
#classification_container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  color: #555;
  font-family: "Open Sans", sans-serif;
}

form input:required {
  border-left: rgb(223, 17, 17) solid 5px;
}

form input:required:valid {
  border-left: green solid 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(12, 11, 11);
}

form p {
  margin-top: 20px;
  text-align: center;
}

form a {
  color: #0004ff;
  font-family: "Open Sans", sans-serif;
}

#registration_container h2 {
  font-family: Roboto, sans-serif;
}

#registration_container p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.password-toggle {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.password-toggle input[type="checkbox"] {
  margin-right: 5px;
}

.notice {
  text-align: center;
  color: red;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
}

.link-container {
  display: flex;
  flex-direction: column;
}

.link {
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}


@media only screen and (min-width: 32.5em) {
  body {
    max-width: 85%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid blue;  
  }

  #wrapper {
    background-color: #ffffff;
    padding: 10px;
  
  }

  nav ul{
  font-size: 1.3rem;
  }

  .siteName a {
    font-size: 45px;
  }

  #tools a {
    font-size: 25px;
  }

  h1 {
    font-size: 35px;
  }

  .description {
    max-width: 30ch;
  }

  .today {
    margin-top: 15px;
  }

  h2, .description h2{
    font-size: 27px;
  }

  .description h3 {
    font-size: 20px;
  }

  #container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
  }

  .reviews li {
    font-size: 20px;
  }

  .review {
    order: 2;
    
  }

  .review h2{
    margin-left: 10px;
  }

  .content {
    padding-left: 40px;
  }

  #display_detail {
    display: grid;
    grid-template-columns: auto auto;
  }
  
}


